/* src/components/LandingPage.css */
.landing-page {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .content {
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 20px;
    border-radius: 8px;
  }
  
  .start-button {
    margin-top: 20px;
  }
  